<div class="mdl-grid">
   <div class="mdl-cell mdl-cell--6-col mdl-cell--4-offset">
            <h1>List of sensors</h1>
<button class="mdl-button mdl-js-button mdl-button--raised
mdl-js-ripple-effect mdl-button--accent" (click)="refreshSensors()">
  Scan for sensors
</button>

<hr>

<app-sensorfilter #filterCmp (filterChanges)="refreshSensors()">
</app-sensorfilter>

<hr>

<app-sensorlist [sensors]="(sensors | filterSensor: filterCmp.selectedCategory)"
showAdd="true" (addItem)="configModal.open($event)"></app-sensorlist>

</div>
</div>

<app-configmodal #configModal (confirm)="addToDashboard($event)"></app-configmodal>
