<nav>
  <a class="mdl-navigation__link" routerLink="/dashboard"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">home</i>Dashboard</a>
    <a class="mdl-navigation__link" routerLink="/sensors"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">share</i>Sensors</a>
  <a class="mdl-navigation__link" routerLink="/inbox"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">inbox</i>Inbox</a>
  <a class="mdl-navigation__link" routerLink="/trash"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">delete</i>Trash</a>
  <a class="mdl-navigation__link" routerLink="/report"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">report</i>Spam</a>
  <a class="mdl-navigation__link" routerLink="/forum"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">forum</i>Forums</a>
  <a class="mdl-navigation__link" routerLink="/flag"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">flag</i>Updates</a>
  <a class="mdl-navigation__link" routerLink="/localoffer"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">local_offer</i>Promos</a>
  <a class="mdl-navigation__link" routerLink="/shoppingcart"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">shopping_cart</i>Purchases</a>
  <a class="mdl-navigation__link" routerLink="/people"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">people</i>Social</a>
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link" routerLink="/help"><i class="mdl-color-text--blue-grey-400 material-icons maright" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
</nav>
