<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">AngularJS</h2>
      </div>
      <div class="mdl-card__supporting-text">
        AngularJS Superheroic JavaScript MVW Framework.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://angularjs.org/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          AngularJS
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>


  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Just Angular</h2>
      </div>
      <div class="mdl-card__supporting-text">
        One Framework. Mobile & Desktop.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://angular.io/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Just Angular
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Angular CLI</h2>
      </div>
      <div class="mdl-card__supporting-text">
        A Command Line Interface for Angular. Create Your Dream App.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://cli.angular.io/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Angular CLI
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Angular Material</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Material Design Components For Angular Apps.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://material.angular.io/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Angular Material
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Material Design Lite</h2>
      </div>
      <div class="mdl-card__supporting-text">
       A Front-End Template Create Fast, Modern Mobile Web Apps.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://getmdl.io/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Material Design Lite
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Ionic Framework</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Develop Mobile, Native, Porgressive Web Apps With Ease.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://ionicframework.com/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Ionic Framework
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Firebase</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Host Web, IOS, Android Apps With Real-Time Database In The Cloud.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://firebase.google.com/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Firebase
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Chromebooks</h2>
      </div>
      <div class="mdl-card__supporting-text">
        A Newer, Faster Cloud Computer On Linux Chrome OS.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="https://www.google.com/chromebook/" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Chromebooks
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
      </div>
    </div>
  </div>
</div>
